<div class="container max-w-screen-md">
    <section x-data="{
            todos: [],
            get active() {
                return this.todos.filter(todo => !todo.completed)
            },
            get completed() {
                return this.todos.filter(todo => todo.completed)
            },
            newTodo: '',
            editedTodo: false,
            addTodo() {
                if(this.newTodo.length > 0){
                this.todos.push({
                    body: this.newTodo,
                    completed: false
                });}
            },
            enterTodo(todo) {
                this.editedTodo = null;
            },
            deleteTodo(todo){
            let position = this.todos.indexOf(todo);
            {#alert(position);#}
            this.todos.splice(position, 1);
            },
            completeTodo(todo){
            todo.completed = !todo.completed;
            },
            clearCompleted(){
            this.todos = this.todos.filter(todo => !todo.completed)
            },
            editTodo(todo){
                this.editedTodo = todo;
            }
    }" class="todoapp">
        <header class="header">
            <h1>TodoApp</h1>

            <input  x-model="newTodo"
                    @keyup.enter="addTodo"
                    class="new-todo"
                    placeholder="What needs to be done?"
                    value="newTodo" {#break#}
                    autofocus>
        </header>

        <section class="main" x-show="todos.length">
            <input id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>

            <ul class="todo-list">

                <template x-for="todo in todos" :key="todo">
                    <li :class="{
                                editing: todo === editedTodo,
                                completed: todo.completed
                                }">
                        <div class="view">
                            <input @click="completeTodo(todo)" type="checkbox" class="toggle">
                            <label @dblclick="editTodo(todo)" x-text="todo.body"></label>
                            <button @click="deleteTodo(todo)" class="destroy"></button>
                        </div>
                        <input @keyup.enter="enterTodo(todo)" x-model="todo.body" class="edit">
                    </li>

                </template>

            </ul>

        </section>
        
        
        
        
        <!-- This footer should be hidden by default and shown when there are todos -->
        <footer class="footer">
            <!-- This should be `0 items left` by default -->
            <span class="todo-count"><strong x-text="active.length"></strong> item left</span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a class="selected" href="#/">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <button @click="clearCompleted" x-show="completed.length" class="clear-completed">Clear completed</button>
        </footer>
    </section>


</div>