<div class="{{ blockClass }}">
    <div class="container">
        <div class="w-10/12 mx-auto
                    lg:w-7/10">
            <img class=""
                 src="/assets/img/placeholder/screen_placeholder.jpg">
        </div>
    </div>
</div>